/* CSS annai.css */

#mainContent div.indexPart p {
	margin-bottom: 10px;
}
#mainContent div.indexPart #comOutline table {
	float: left;
	width: 560px;
}

#mainContent div.indexPart #comOutline table th {
	width: 108px;
	text-align: left;
	font-weight: normal;
	vertical-align: top;
	background-color: #f5f9ff;
}

#mainContent div.indexPart #comOutline table th, #mainContent div.indexPart #comOutline table td {
	border: 1px solid #c2d0fd;
	padding: 8px;
	line-height: 16px;
}

#mainContent div.indexPart #comOutline img {
	float: left;
	margin-left: 25px;
}

#mainContent div.indexPart #history img {
	float: right;
	margin: 0 0 12px 12px;
}

#mainContent div.indexPart ul#membership li {
	margin-left: 18px;
	line-height: 16px;
}
#mainContent div.indexPart ul#membership li.top {
	margin-left: 0;
	font-weight: bold;
	color: #FF6000;
}

#mainContent div.indexPart h2.access {
	font-size: 16px;
	font-weight: bolder;
	padding: 10px 0 6px;
}

#mainContent div.indexPart .unit ul.access {
	width: 360px;
	float: left;
	padding-right: 25px;
}

#mainContent div.indexPart .unit ul.access li {
	line-height: 16px;
}

#mainContent div.indexPart .unit small.right {
	float: right;
	margin: 12px 0;
}

#mainContent div.indexPart .unit small.right a {
	padding: 4px 8px;
	border: 1px solid #5073b8;
	color: #5073b8;
	font-weight: normal;
}

#mainContent div.indexPart h2.index {
	padding: 0 0 3px 6px;
	border-bottom: 1px solid #5073b8;
}

#mainContent div.indexPart .unit img {
	float: right;
	margin: 0 0 12px 12px;
}

/* ページ「上場商品のご紹介」 */
#contents #mainContent ul#pageIndexProducts {
	clear: both;
	width: 100%;	
	padding: 12px 0;
	display: table;
	margin-bottom: 40px;
}
#contents #mainContent ul#pageIndexProducts li {
	height: 50px;
	width: 110px;
	float: left;
	margin-right: 2px;
}
#contents #mainContent ul#pageIndexProducts li#subtitle {
	background-image: url(../images/topList_index.gif);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: -9999px;
	height: 30px;
	padding: 0 0 3px 0;
	border-bottom: 1px solid #5073b8;
	margin-bottom: 12px;
	clear: both;
	width: 100%;
}

#mainContent div.indexPart table#productIntro {
	width:760px;
	clear: both;
	margin: 10px 0 10px 25px;
}
#mainContent div.indexPart table#productIntro th {
	text-align: left;
	padding-bottom: 6px;
	vertical-align:top;
}
#mainContent div.indexPart table#productIntro td {
	vertical-align: top;
	line-height: 16px;
	padding-left: 12px;
	vertical-align:top;
}
#mainContent div.indexPart table#productIntro td.name {
	text-align: left;
	padding: 0 0 10px 10px;
}

/* ページ「会員名簿」 */
#mainContent div.indexPart .unit ul#marketType {
	width: 380px;
	float: right;
	margin: 12px 0 0 20px;
}
#mainContent div.indexPart .unit ul#marketType li {
	line-height: 24px;
	border: 1px solid #c2d0fd;
	padding-left: 12px; 
	margin-bottom: 2px;	
}
#mainContent div.indexPart .unit ul#marketType li.market {
	background-color: #E6EBFF;
	border: 1px solid #b0c6f9;
}

#mainContent div.indexPart .memberTable {
	width: 100%;
	margin-bottom: 12px;
}
#mainContent div.indexPart .memberTable th.merchants , #mainContent div.indexPart .memberTable th.trader {
	text-align: left;
}
#mainContent div.indexPart .memberTable th {
	background-color: #5073b8;
	color: #fff;
}
#mainContent div.indexPart .memberTable th.market {
	background-color: #7093d9;
}
#mainContent div.indexPart .memberTable th , #mainContent div.indexPart .memberTable td {
	border: 1px solid #b0c6f9;
	padding: 4px 8px;
	line-height: 17px;
}
#mainContent div.indexPart .memberTable th.merchants {
	width: auto;
}
#mainContent div.indexPart .memberTable th.link {
	width: 36px;
}
#mainContent div.indexPart .memberTable th.market {
	width: 45px
}
#mainContent div.indexPart .memberTable th.trader {
	width: 100px;
	letter-spacing: 0;
}
#mainContent div.indexPart .memberTable td.market ,#mainContent div.indexPart .memberTable td.link {
	color: #5073b8;
	text-align: center;
	padding: 0;
}
#mainContent div.indexPart .memberTable td.link a {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}
#mainContent div.indexPart .memberTable td.link a:hover {
	background-color: #fff;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
#mainContent div.indexPart .memberTable td.trader {
	text-align: center;
}
#mainContent div.indexPart .memberGeneral {
	width: 100%;
	margin-bottom: 12px;
}
#mainContent div.indexPart .memberGeneral th , #mainContent div.indexPart .memberGeneral td {
	border: 1px solid #b0c6f9;
	padding: 6px;
	line-height: 16px;
	width: 25%;
	text-align: center;
	letter-spacing: 0;
}
#mainContent div.indexPart .memberGeneral th {
	background-color: #5073b8;
	color: #fff;
}
#mainContent div.indexPart .memberGeneral td a {
	font-weight: normal;
}

#mainContent #corpBanner {
	margin:20px auto;
	display: block;
}
#mainContent #corpBanner a {
	display: block;
	background-color:#fff;
}
#mainContent #corpBanner a:hover {
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

#mainContent div.indexPart #teikanDlTable {
	width: 100%;
	margin: 12px 0 20px;
}
#mainContent div.indexPart #teikanDlTable td {
	vertical-align: top;
	padding: 2px 12px;
	line-height: 16px;
}
#mainContent div.indexPart #teikanDlTable td#title {
	color: #5073b8;
	font-weight: bold;
	width: 280px;
}
#mainContent div.indexPart #teikanDlTable th {
	text-align: left;
	padding: 2px 12px;
	border: 1px solid #b0c6f9;
	line-height: 18px;
}
#mainContent div.indexPart #teikanDlTable th a {
	display: block;
}
#mainContent div.indexPart #teikanDlTable th a img {
	margin: 0 8px;
}
#mainContent div.indexPart #teikanDlTable td a {
	display: block;
	background-color: #fff;
}
#mainContent div.indexPart #teikanDlTable td a:hover img {
	background-color: #fff;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
#mainContent div.indexPart #teikanDlTable th.itemName {
	background-color: #F5F9FF;
}

/* ページ「指定倉庫一覧」 */
#mainContent div.indexPart table#soukoIndex {
	width: 100%;
	clear: both;
	margin: 20px 0 0 0;
}
#mainContent div.souko p.area {
	font-size:16px;
}
#mainContent div.indexPart table#soukoIndex td a {
	display: block;
	width: 245px;
	height: 36px;
	text-indent: -9999px;
	border: 1px solid #5073b8;
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0;
}
#mainContent div.indexPart table#soukoIndex td a:hover {
	background-position: left -36px;
	border: 1px solid #31c0c0;
	background-color: #fff;
}
#mainContent div.indexPart table#soukoIndex td a.select {
	background-position: left -72px;
	background-color: #fff;
}
#mainContent div.indexPart table#soukoIndex td.button a#btn_farm {
	background-image: url(../annai/images/souko_farm.gif);
}
#mainContent div.indexPart table#soukoIndex td.button a#btn_marine {
	background-image: url(../annai/images/souko_marine.gif);
}
#mainContent div.indexPart table#soukoIndex td.button a#btn_suger {
	background-image: url(../annai/images/souko_suger.gif);
}

#mainContent div.souko {
	width: 100%;
	clear: both;
	display: table;
	padding-bottom: 20px;
}
#mainContent div.souko h1 {
	margin: 40px 0 12px 12px;
	padding-bottom: 4px;
	border-bottom: 1px solid #5073b8;
}
#mainContent div.souko h1 span {
	font-size: 16px;
	color: #1e2b62;
}
#mainContent div.souko p {
	margin:12px;
	line-height: 16px;
}
#mainContent div.souko p a.pdfLinkBtn {
	background-image: url(../images/pdficon_small.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding:2px 6px 2px 22px;
	margin: 0 4px;
}

#mainContent div.souko .stockTable {
	width: 754px;
	margin: 0 0 30px 30px;
}
#mainContent div.souko .stockTable .company {
	width:220px;
}
#mainContent div.souko .stockTable .main {
	width:120px;
}
#mainContent div.souko .stockTable th , #mainContent div.souko .stockTable td {
	border: 1px solid #C2D0FD;
	padding: 3px 12px;
	line-height: 16px;
	vertical-align: top;
}
#mainContent div.souko .stockTable th {
    background-color: #F5F9FF;
	color: #1e2b62;
}

#mainContent div.souko .stockTableWide {
	width: 760px;
	margin: 0 0 30px 30px;
}
#mainContent div.souko .stockTableWide .company {
	width:150px;
}
#mainContent div.souko .stockTableWide .main {
	width:100px;
}
#mainContent div.souko .stockTableWide .branch {
	width:180px;
}
#mainContent div.souko .stockTableWide th , #mainContent div.souko .stockTableWide td {
	border: 1px solid #C2D0FD;
	padding: 3px 12px;
	line-height: 16px;
	vertical-align: top;
}
#mainContent div.souko .stockTableWide th {
    background-color: #F5F9FF;
	color: #1e2b62;
}
#mainContent div.souko ul.proLink {
	width: 100%;
	clear: both;
	display: table;
}
#mainContent div.souko ul.proLink li {
	float: left;
	width: 110px;
	margin:  0 20px;
}

/* ページ「格付表」 */
#mainContent div.indexPart ul.itemLink {
	width: 100%;
	clear: both;
	display: block;
	margin-top: 20px;
	height: 80px; 
}
#mainContent div.indexPart ul.itemLink li {
	float: left;
	width: 110px;
	margin: 0 1px;
	border-bottom: 4px solid #fff;
}

#mainContent div.indexPart ul.itemLink li a {
	padding: 0;
	margin: 0;
	display: block;
}
#mainContent div.indexPart ul.itemLink li a img {
	padding: 0;
	margin: 0 0 3px 0;
}
#mainContent div.indexPart ul.itemLink li.select {
	border-bottom: 5px solid #33ccff;
}
#mainContent div.indexPart ul.itemLink li a:hover {
    background-color: #fff;
	cursor: pointer;
}
#mainContent div.indexPart ul.itemLink li a:hover img {
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

#mainContent.rate .indexPart p {
	margin: 0;
}
#mainContent.rate table {
	width: 100%;
	line-height: 18px;
}
#mainContent.rate div.indexPart h2 {
	font-size:16px;
	font-weight:bold;
	padding-bottom:18px;
}
#mainContent.rate table.creation td {
	padding: 6px 20px;
}
#mainContent.rate table.rate {
	margin-bottom: 20px;
	border: 1px solid #5073b8;
}
#mainContent.rate table.rate th , #mainContent.rate table.rate td {
	border: 1px solid #5073b8;
	padding: 3px 8px;
}
#mainContent.rate table.rate td.info {
	padding: 4px 12px;
}
#mainContent.rate table.rate th {
    background-color: #e6ebff;
}
#mainContent.rate table.rate td.hyoCol2 {
    background-color: #C2D0FD;
}
#mainContent.rate table.rate td.detail {
	width: 570px;
}
#mainContent.rate table.rate.rete_corn td.detail {
	width: 520px;
}
#mainContent.rate table.caution {
	margin-bottom: 10px;
}
#mainContent.rate table.caution th {
	color: #5073b8;
	text-align: left;
}
#mainContent.rate table.caution td {
	line-height: 18px;
}
#mainContent.rate table.caution td.secDetail {
	text-align: right;
	width: 40px;
	vertical-align: top;
}
#mainContent.rate table.rate_azuki {
	margin-bottom: 20px;
	border: 1px solid #5073b8;
}
#mainContent.rate table.rate_azuki th , #mainContent.rate table.rate_azuki td {
	border: 1px solid #5073b8;
	padding: 5px 3px 3px;
	text-align: center;
}
#mainContent.rate table.rate_azuki th {
    background-color: #e6ebff;
}
#mainContent.rate table.rate_azuki td.hyoCol2 {
    background-color: #C2D0FD;
}

#mainContent.rate table.rate.shrimp td {
	text-align: center;
}
#mainContent.rate table.rate.rate_suger td.cuntry {
	text-align:left;
	padding-left:12px;
}
#mainContent.rate table.rate.rate_suger td {
	text-align:center;
}
#mainContent.rate table.creation_suger2 {
	width: 434px;
	margin: 10px 0 10px 184px;
}
#mainContent.rate table.rate_suger2 {
	width: 434px;
	border: 1px solid #5073b8;
	margin: 0 0 10px 184px;
}
#mainContent.rate table.rate_suger2 th , #mainContent.rate table.rate_suger2 td {
	border: 1px solid #5073b8;
	padding: 3px 4px;
}
#mainContent.rate table.rate_suger2 th {
    background-color: #e6ebff;
}

/* 	ページ「公告」 */
#mainContent table#koukoku {
	width: 560px;
	margin-right: 15px;
	float: left;
	line-height: 16px;
}
#mainContent table#koukoku th {
	border: 1px solid #C2D0FD;
	padding: 4px;
	width: 50%;
    background-color: #F5F9FF;
}
#mainContent table#koukoku td {
	border: 1px solid #C2D0FD;
	padding: 4px;
	text-align: center;
}
#mainContent table#koukoku td a {
	background-image: url(../images/pdficon_large.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding: 10px 0 10px 36px;
	line-height: 36px;
}
#mainContent a#pdfDL {
	display: block;
	padding: 0;
	margin: 0;
	float: left;
	background-color: #fff;
}
#mainContent a#pdfDL:hover img {
	background-color: #fff;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
