@charset "utf-8";

h1 {
	margin: 0 0 20px;
	padding: 0px 16px;
	border-bottom: 2px dotted #69849A;
}

h2 {
	display:inline;
	color:#5073B8;
	padding: 0 16px;
}

img {
	border: 0px;
}

table {
	width: 880px;
	border: 0px;
	cellpadding: 0px;
	cellspacing: 0px;
}

#contents-s {
	margin: 0 auto;
	width: 920px;
	padding: 1px 0;
	vertical-align: top;
	background-color: #fff;
	color: #666;
	line-height: 135%;
}
#head-s {
	margin-bottom: 1px;
	padding: 5px 16px;
	border-top: 6px solid #062263;
	border-bottom: 2px solid #062263;
}
#foot-s {
	margin-top: 50px;
	padding: 0 20px;
	border-bottom: 2px solid #062263;
}