/* CSS engBasic.css */

/* ページ「Profile」 */
#contents.profile #intro {
	margin: 12px 0 24px;
}
#contents.profile #intro th ,
#contents.profile #intro td {
	border:1px solid #5073b8;
	padding:6px 12px;
}
#contents.profile #intro th {
	background-color: #E6EBFF;
}
#contents.profile #intro .noBorder ,
#contents.profile #intro .title {
	border:0;
}
#contents.profile .title {
	font-size:24px;
	padding-left:30px;
}

#contents.profile #history ,
#contents.profile #ope {
	margin:12px 0 24px;
}
#contents.profile #history .title ,
#contents.profile #ope .title {
	padding:12px;
}
#contents.profile #history img {
	float:right;
	margin: 0 0 20px 20px;
}


/* ページ「Listed Commodities」 */
li#contents.items #pageIndexProducts {
	width:100%;
}
li#contents.items #pageIndexProducts li.tandem {
	float:left;
	margin:5px 2px;
}
li#contents.items #pageIndexProducts li.tandem img {
	width:88px;
	margin-top:4px;
	-ms-interpolation-mode: bicubic;
}
li#contents.items #pageIndexProducts li.tandem a {
	padding:4px 3px 5px;
	text-align:center;
	display:block;
	border:1px solid #999;
}
li#contents.items #pageIndexProducts li.tandem a:hover {
	background-color: #E6EBFF;
	color:#1e2b62;
}
li#contents.items #pageIndexProducts li#subtitle {
	width:100%;
	font-size:20px;
}
li#contents.items .unit img {
	margin:10px 20px 20px 10px;
	float:left;
}

/* ページ「memberList」 */
li#contents.member ul#pageIndex {
	width:100%;
	margin-bottom:20px;
}
li#contents.member ul#pageIndex li#subtitle {
	font-size:20px;
	border-bottom:1px solid #999;
	padding: 6px 0 4px;
}
li#contents.member ul#pageIndex li.tandem {
	margin-top:6px;
}
li#contents.member ul#pageIndex li.tandem span {
	color:#fff;
	padding-right:6px;
}
li#contents.member ul#pageIndex li.tandem a {
	background-color: #E6EBFF;
	border: 1px solid #809ADA;
	display: block;
	color: #5073B8;
	padding: 2px 6px;
}
li#contents.member ul#pageIndex li.tandem a:hover {
	background-color: #f0f3ff;
}

li#contents.member .memberTable {
	width:100%;
}
li#contents.member .memberTable th.merchants {
	text-align: left;
}
li#contents.member .memberTable .trader {
	text-align: center;
}
li#contents.member .memberTable th {
	background-color: #5073b8;
	color: #fff;
}
li#contents.member .memberTable th , li#contents.member .memberTable td {
	border: 1px solid #b0c6f9;
	padding: 4px 8px;
	line-height: 16px;
}
li#contents.member .memberTable th.market {
	background-color: #7093d9;
	padding: 4px 3px;
}
li#contents.member .memberTable td.market {
	text-align:center;
	width:60px;
}
li#contents.member .memberTable th.merchants {
	width:200px;
}
li#contents.member .memberTable th.link ,
li#contents.member .memberTable td.link {
	padding: 4px;
	text-align:center;
}

li#contents.member .memberGeneral {
	width:100%;
	margin-bottom:20px;
}
li#contents.member .memberGeneral th , li#contents.member .memberGeneral td {
	border: 1px solid #b0c6f9;
	padding: 4px;
	line-height: 16px;
	width: 25%;
	text-align: center;
	font-size:12px;
}
li#contents.member .memberGeneral th {
	background-color: #5073b8;
	color: #fff;
	font-size:13px;
}
li#contents.member #corpBanner {
	margin:0 auto;
}
li#contents.member #corpBanner td {	
	padding:0 10px;
}

/* ページ「Contract Specifications」 */
li#contents.specificate table {
	width:100%;
	margin:12px 0;
}
li#contents.specificate table th ,
li#contents.specificate table td {
	border: 1px solid #b0c6f9;
	padding:4px 8px;
}
li#contents.specificate table th {
	text-align:left;
	background-color: #E6EBFF;
	width:200px;
}


/* ページ「Bio Energy Index」 */
li#contents.bei ul#pageIndex {
	width:100%;
	margin-bottom:20px;
}
li#contents.bei ul#pageIndex li#subtitle {
	font-size:20px;
	border-bottom:1px solid #999;
	padding: 6px 0 4px;
}
li#contents.bei ul#pageIndex li.tandem {
	margin-top:6px;
}
li#contents.bei ul#pageIndex li.tandem span {
	color:#fff;
	padding-right:6px;
}
li#contents.bei ul#pageIndex li.tandem a {
	background-color: #E6EBFF;
	border: 1px solid #809ADA;
	display: block;
	color: #5073B8;
	padding: 2px 6px;
}
li#contents.bei ul#pageIndex li.tandem a:hover {
	background-color: #f0f3ff;
}
li#contents.bei ul#about li {
	list-style-type:decimal;
	padding:12px 0;
	margin-left:24px;
}