/* common css */

/* 全項目対象 start */
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, a img {
    border: 0;
    margin: 0;
    padding: 0;
	font-size: 13px;
	color: #444;
	font-weight: normal;
}

body {
	background-color: #fff;
	color: #fff;
	font-size: 0px;
	margin: 0;
	padding: 0;
	font-family: Verdana,"ヒラギノ角ゴ pro W3","メイリオ";
}

a {
	text-decoration:none;
	color: #5073b8;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

li {
	list-style-type: none;
}

/* 共通部分 */
div#pageHead {
	width:100%;
	height:5px;
	background-color: #1e2b62;
	clear:both;
}	
ul#allFrame {
	width: 960px;
	margin:12px auto;
	clear:both;
	display:table;
}
ul#allFrame li#gnSide ,
ul#allFrame li#contents {
	float:left;
}
ul#allFrame li#gnSide {
	width:224px;
}
ul#allFrame li#contents {
	width:716px;
	padding:0 0 0 20px;
}
#contents div#gotoTop {
	float:right;
	padding-right:20px;
	clear:both;
	margin-bottom:12px;
}
#contents div#gotoTop a {
	background-image: url(../english/images/pageTop_en.gif);
	background-repeat: no-repeat;
	background-position: left top;
	text-indent:-9999px;
	font-size:0;
	width:160px;
	height:20px;
	display:block;
	border:1px solid #5073b8;
}
#contents div#gotoTop a:hover {
	background-position: left -20px;
	border:1px solid #738fc6;
}


li#contents .unit {
	width:100%;
	padding:10px 0 20px;
	clear:both;
}
li#contents .unit h1 {
	font-size:24px;
	padding:0 5px 5px 0;
	border-bottom:1px solid #5073b8;
	margin-bottom:12px;
	color:#5073b8;
}

/* グローバルナビゲーション(gnbSet) */
table#gnb {
	width:100%;
}
table#gnb td {
	width:100%;
	padding:4px 0;
}
table#gnb td#logo {
	text-align:center;
	height:56px;
}
table#gnb td a {
	background-color: #5073b8;
	color:#fff;
	width:196px;
	padding:10px 12px;
	display:block;
	font-size:16px;
}
table#gnb td#logo a {
	padding:4px 0 6px 0;
	width:220px;
	background-color: #fff;
	color:#1e2b62;
	border:1px solid #5073b8;
	font-size:12px;
}
table#gnb td a:hover {
	background-color: #658ce8;
}
table#gnb td a.selected {
	background-color: #1e2b62;
}


/* footer */
div#footer {
	width:100%;
	clear:both;
	background-color: #1e2b62;
	padding:12px 0;
}
div#footer p {
	color:#fff;
	width:960px;
	margin:0 auto;
	text-align:right;
	font-size:12px;
}

/* アイテムスイッチボタン */
#contents ul#itemLink8 {
	width:100%;
	margin-bottom:10px;
}
#contents ul#itemLink8 li {
	float:left;
	font-size:11px;
	text-align:center;
	border-bottom:3px solid #fff;
}
#contents ul#itemLink8 li.select {
	border-bottom:3px solid #ff9666;
}
#contents ul#itemLink8 li a img {
	width:85px;
	margin-top:4px;
}
#contents ul#itemLink8 li a {
	color:#1e2b62;
	padding:3px 2px;
	display:block;
	cursor:pointer;
}
#contents ul#itemLink8 li a:hover {
	background-color: #e0e6ff;
}