/* CSS guide.css */

/* 取引ガイド 共通部分 */

#mainContent div.indexPart h2.caution {
	padding: 24px 0 8px 0;
}

#mainContent div.indexPart a {
	font-weight: bold;
	padding: 2px 6px;
}

#mainContent div.indexPart a:hover {
	background-color: #E6EBFF;
}

#mainContent div.indexPart a.gotoTop {
	width: 160px;
	height: 20px;
	float: right;
	background-image: url(../images/pageTop_01.gif);
	background-repeat: no-repeat;
	background-position: left top;
	text-indent: -9999px;
	display: block;
	border: 1px solid #5073b8;
	padding: 0;
}
#mainContent div.indexPart a.gotoTop:hover {
	background-position: left -20px;
	border: 1px solid #658ce8;
}

#mainContent div.indexPart .unit {
	width: 785px;
	clear: both;
	padding: 6px 0 12px;
	display: table;
}

#mainContent div.indexPart .unit p {
	padding: 0 18px 0 12px;
}

#mainContent div#imgRight.indexPart .unit img {
	float: right;
	margin: 0 0 12px 12px;
}
#mainContent div.indexPart .unit #hosoku {
	width:480px;
	float:right;
	margin: 0 10px 4px 22px;
	font-size: 12px;
}

#mainContent div.indexPart div.targetItem {
	background-image: url(../guide/images/targetItem.gif);
	background-repeat: no-repeat;
	background-position: 1px center;
	line-height: 23px;
	text-indent: 110px;
	clear: both;
	margin-left: 24px;
	padding-top: 2px;
	border: 1px solid #5073b8;
}

#mainContent div.indexPart h2.rule {
	border-bottom: 1px solid #c6d6f6;
	padding: 24px 0 2px 0;
	margin-bottom: 3px;
}

#mainContent div.indexPart p span.caution {
	color: #5073b8;
	font-size: 12px;
	display: block;
	padding-top: 8px;
}

#mainContent div.indexPart div.reference {
	background-image: url(../guide/images/reference.gif);
	background-repeat: no-repeat;
	background-position: 1px center;
	line-height: 23px;
	text-indent: 92px;
	clear: both;
	margin-left: 24px;
	padding-top: 2px;
	border: 1px solid #5073b8;
}

/* ページ「取引を始めてみる」 */

#mainContent div.indexPart ul#befDeal li {
	line-height: 24px;
	margin-left: 12px;
}

#mainContent div.indexPart div.unit ul#agreement {
	float: left;
	line-height: 20px;
	margin-left: 12px;
}
#mainContent div.indexPart div.unit ul#agreement li.categoryTop {
	border-bottom: 1px solid #c6d6f6;
	padding: 0 0 2px 0;
}
#mainContent div.indexPart div.unit ul#agreement li.categoryTop span {
	color: #5073b8;
	padding-right: 4px;
}
#mainContent div.indexPart div.unit ul#agreement li {
	padding: 2px 0 16px 12px;
}

#mainContent div.indexPart div.unit img.left {
	float: left;
}

#mainContent div.indexPart div.unit ul#beginning {
	float: left;
	width: 580px;
	line-height: 20px;
	margin-left: 12px;
}
#mainContent div.indexPart div.unit ul#beginning li.categoryTop {
	border-bottom: 1px solid #c6d6f6;
	padding: 0 0 2px 0;
}
#mainContent div.indexPart div.unit ul#beginning li.categoryTop span {
	color: #5073b8;
	padding-right: 4px;
}
#mainContent div.indexPart div.unit ul#beginning li.topSpace {
	padding-top: 12px;
}
#mainContent div.indexPart div.unit ul#beginning li.topSpace ul {
	padding-left: 20px;
}

#mainContent div.unit ul#beginning table {
	margin: 8px;
}
#mainContent div.unit ul#beginning table th {
    background-color: #F5F9FF;
}
#mainContent div.unit ul#beginning table th , #mainContent div.unit ul#beginning table td {
	text-align: left;
	border: 1px solid #C2D0FD;
	padding: 3px 12px;
}
#mainContent div.indexPart div.unit img.noMargin {
	margin: 0;
}

#mainContent div.indexPart p.redBorder {
	border: 1px solid #ff6000;
	padding: 10px 12px;
	margin: 0 0 20px 12px;
}

/* ページ「当業者の皆様へ」 */
#mainContent table#pamphlet {
	width:66%;
	margin:12px 0;
}
#mainContent table#pamphlet th ,
#mainContent table#pamphlet td {
	border: 1px solid #5073b8;
}
#mainContent table#pamphlet th {
	background-color:#F0F3FF;
	padding:6px 12px;
}
#mainContent table#pamphlet td {
	text-align:center;
	color:#666;
	font-size:12px;
}
#mainContent table#pamphlet tr#thum td {
	padding:12px 12px 4px;
	border-bottom:0;
}
#mainContent table#pamphlet tr#thum a {
	background-color:#fff;
}
#mainContent table#pamphlet tr#thum a:hover img {
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}
#mainContent table#pamphlet tr#fileSize td {
	border-top:0;
	padding: 0 0 12px 0;
}

#mainContent table#seminar {
	width:100%;
	margin:12px 0;
}
#mainContent table#seminar th {
	background-color:#5073b8;
	color:#fff;
	padding:4px 12px;
	font-weight:bold;
	border: 1px solid #B0C4F9;
}
#mainContent table#seminar td {
	border: 1px solid #B0C4F9;
	padding:4px 8px;
	text-align:center;
}#mainContent table#seminar td.detail {
	background-color:#F0F3FF;
	padding-bottom:10px;
	text-align:left;
}
#mainContent table#seminar td.pdf {
	width:100px;
}

#mainContent table#seminar td.movie {
	width:150px;
}
#mainContent table#seminar td.detail ul li {
	padding-left:24px;
}
#mainContent table#seminar td.detail ul li.index {
	padding: 6px 0 0 8px;
}
#mainContent table#seminar td.detail ul li.title {
	font-weight:bold;
	color:#1e2b62;
}
#mainContent table#seminar td.detail span {
	font-size:12px;
}
#mainContent table#seminar td.movie a {
	display:block;
	padding-top:5px;
}

/* ページ「先物取引用語集」 */
#mainContent div.indexPart table#subLine {
	margin: 12px 0;
}
#mainContent div.indexPart table#subLine td {
	width: 78px;
	padding: 0;
}

#mainContent div.indexPart table#subLine td a {
	display: block;
	width: 75px;
	height: 30px;
	text-indent: -9999px;
	border: 1px solid #5073b8;
	background-repeat: no-repeat;
	background-position: left top;
	padding: 0;
	cursor:pointer;
}
#mainContent div.indexPart table#subLine td a:hover {
	background-position: left -30px;
	border: 1px solid #44a1e8;
}
#mainContent div.indexPart table#subLine td a.noLink {
	border: 1px solid #666;
}
#mainContent div.indexPart table#subLine td a.noLink:hover {
	background-position: left top;
	background-color:none;
}
#mainContent div.indexPart table#subLine td a.select {
	background-position: left -60px;
}

#mainContent div.indexPart table#subLine td a#btn_LineA {
	background-image: url(../guide/images/words_a.gif);
}
#mainContent div.indexPart table#subLine td a#btn_LineKa {
	background-image: url(../guide/images/words_ka.gif);
}
#mainContent div.indexPart table#subLine td a#btn_LineSa {
	background-image: url(../guide/images/words_sa.gif);
}
#mainContent div.indexPart table#subLine td a#btn_LineTa {
	background-image: url(../guide/images/words_ta.gif);
}
#mainContent div.indexPart table#subLine td a#btn_LineNa {
	background-image: url(../guide/images/words_na.gif);
}
#mainContent div.indexPart table#subLine td a#btn_LineHa {
	background-image: url(../guide/images/words_ha.gif);
}
#mainContent div.indexPart table#subLine td a#btn_LineMa {
	background-image: url(../guide/images/words_ma.gif);
}
#mainContent div.indexPart table#subLine td a#btn_LineYa {
	background-image: url(../guide/images/words_ya.gif);
}
#mainContent div.indexPart table#subLine td a#btn_LineRa {
	background-image: url(../guide/images/words_ra_none.gif);
}
#mainContent div.indexPart table#subLine td a#btn_LineWa {
	background-image: url(../guide/images/words_wa_none.gif);
}

#mainContent table.links {
	width: 100%;
}
#mainContent table.links td {
	width: 20%;
}
#mainContent table.links td a {
	text-align: center;
	display: block;
    background-color: #5073b8;
	font-size: 14px;
	line-height: 28px;
	font-weight: bolder;
	color: #fff;
	border: 1px solid #C2D0FD;
}
#mainContent table.links td p {
	text-align: center;
	display: block;
	font-size: 14px;
	line-height: 28px;
	font-weight: bolder;
	color: #fff;
	border: 1px solid #C2D0FD;
    background-color: #999;
}
#mainContent table.links td a:hover {
    background-color: #658ce8;
}

#mainContent table.detail th {
    background-color: #F5F9FF;
	font-size: 14px;
	font-weight: bolder;
	color: #5073b8;
}
#mainContent table.detail th , #mainContent table.detail td {
	border: 1px solid #C2D0FD;
	padding: 5px 12px;
}
#mainContent table.detail td {
	font-size: 12px;
	line-height: 20px;
}
#mainContent table.detail tr.letter td {
	height: 0px;
	font-size: 0px;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #fff;
}