/* home.css */

/* ヘッダー・フッター・バナー関連は共通化の為、「common.css」にて設定 */

#contents #topSlideShow {
	width: 100%;
	clear: both;
	height: 360px;
	background-color: #E6EBFF;
}

#topImg {
	clear:both;
	width:600px;
	margin:0 auto;
}
/* 以下、スペシャルコンテンツ */

#contents #topSpecialGuide {
	width: 100%;
	clear: both;
	padding: 24px 0 32px;
}

#contents #topSpecialGuide #market {
	width: 100%;
}

#contents #topSpecialGuide #market th {
	text-align: left;
}

#contents #topSpecialGuide #market tr#name td {
	background-repeat: no-repeat;
	background-position: left 8px;
	text-indent:-9999px;
	height: 32px;
	text-align: left;
}

#contents #topSpecialGuide #market tr#name td.brand1 {
	background-image: url(../images/nameCent_Trice_110.gif);
	width: 121px;
}
#contents #topSpecialGuide #market tr#name td.brand2 {
	background-image: url(../images/nameCent_Orice_110.gif);
	width: 122px;
}
#contents #topSpecialGuide #market tr#name td.brand3 {
	background-image: url(../images/nameCent_corn_110.gif);
	width: 121px;
}
#contents #topSpecialGuide #market tr#name td.brand4 {
	background-image: url(../images/nameCent_soy_110.gif);
	width: 122px;
}
#contents #topSpecialGuide #market tr#name td.brand5 {
	background-image: url(../images/nameCent_azuki_110.gif);
	width: 121px;
}
#contents #topSpecialGuide #market tr#name td.brand6 {
	background-image: url(../images/nameCent_corn75_110.gif);
	width: 122px;
}
#contents #topSpecialGuide #market tr#name td.brand7 {
	background-image: url(../images/nameCent_shrimp_110.gif);
	width: 121px;
}
#contents #topSpecialGuide #market tr#name td.brand8 {
	background-image: url(../images/nameCent_suger_110.gif);
	width: 110px;
}

#contents #topSpecialGuide #market tr#rate td {
	height: 40px;
}

#contents #topSpecialGuide #market tr#rate td a ,#contents #topSpecialGuide #market tr#chart td a {
	display: block;
	width: 110px;
	line-height: 28px;
	color: #fff;
	background-color: #5073b8;
	font-size: 14px;
	text-align: center;
}
#contents #topSpecialGuide #market tr#rate td a:hover ,#contents #topSpecialGuide #market tr#chart td a:hover {
	color: #fff;
	background-color: #658ce8;
}
	

/* 以下、情報一覧コンテンツ */

#contents #homeMainContent {
	float: left;
	width: 560px;
	padding: 0 25px;
}

#contents #homeMainContent h2 {
	border-bottom: 1px solid #5073b8;
	margin-bottom: 12px;
	padding-bottom: 4px;
}

#contents #homeMainContent h2 a.list {
	float: right;
	font-size: 13px;
	font-weight: bold;
	margin: 4px 0;
	padding: 4px 8px;
	color: #5073b8;
	background-color: #E6EBFF;
}
#contents #homeMainContent h2 a.list:hover {
	background-color: #5073b8;
	color: #fff;
}

#contents #homeMainContent table {
	width: 100%;
	margin-bottom: 24px;
}

#contents #homeMainContent table a {
	color: #5073b8;
	font-weight: bold;
	padding: 2px 5px;
	line-height: 16px;
	display:block;
}
#contents #homeMainContent table a:hover {
	color: #1e2b62;
	background-color: #E6EBFF;
}

#contents #homeMainContent table td {
	vertical-align: top;
	color: #555;
	font-size: 13px;
	line-height: 16px;
	padding: 3px 0 3px 12px;
}
#contents #homeMainContent table tr.odd td {
	background-color: #ecf0f9;
}
#contents #homeMainContent table td.date {
	width: 80px;
}
#contents #homeMainContent table#nehaba td a {
    display: inline;
}

/* 以下、指数コンテンツ */

#contents #flashReport {
	float: right;
	width: 200px;
}

#contents #flashReport a#digitalDailyBtn {
	width: 200px;
	height: 40px;
	display: block;
	margin-bottom: 20px;
	padding: 0;
	background-image: url(../images/digitalDaily.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #5073b8;
}
#contents #flashReport a#digitalDailyBtn:hover {
	background-color: #658ce8;
}
#contents #flashReport a.special {
	margin-bottom:20px;
}
#contents #flashReport a.special:hover img {
	background-color:#fff;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}	

#contents #flashReport table {
	width: 100%;
	border: 5px solid #E6EBFF;
	margin-bottom: 18px;
}

#contents #flashReport table td {
	font-size: 13px;
	padding: 5px;
	line-height: 20px;
	letter-spacing: 0;
}

#contents #flashReport table td.beititle {
	text-align: center;
	background-color: #E6EBFF;
	padding-bottom: 8px;
	font-weight: bold;
	color: #5073b8;
}

#contents #flashReport table td.bei-menu3-2 {
	color: #ee6400;
	font-weight: bold;
}

#contents #flashReport table td.bei-menu3-3 {
	/*color: #ee6400;*/
	font-weight: bold;
}

#contents #flashReport table td a{
	color: #5073b8;
	font-weight: bold;
	padding: 3px 5px;
}
#contents #flashReport table td a:hover {
	color: #1e2b62;
	background-color: #E6EBFF;
}

#contents #flashReport table td.bei-menu3-1 {
	color: #FF6000;
}
#contents #flashReport table td.bei-menu3-2 {
	color: #5073b8;
}
/* ページ「お知らせ一覧」 */
#mainContent.info table#info {
	width:100%;
}
#mainContent.info table#info th ,
#mainContent.info table#info td {
	height:26px;
	padding:2px 6px 1px;
}
#mainContent.info table#info td.date {
	width:80px;
}
#mainContent.info table#info tr.even td {
	background-color: #F0F3FF;
}
#mainContent.info table#info a {
	display:inline;
	padding:2px 6px;
	height:26px;
}
#mainContent.info table#info a:hover {
	color:#1e2b62;
}

