/* CSS market.css */

/* ページ「相場情報概要」 */
#mainContent #paraTbl {
	width: 100%;
	clear: both;
	margin: 20px 0 10px;
	display: block;
}
#mainContent #paraTbl td {
	border: 1px solid #c2d0fd;
	padding: 4px 8px;
	line-height: 20px;
}
#mainContent #paraTbl td.hyoCol1 {
	background-color: #f5f9ff;
}
#mainContent table#itemLink {
	width: 100%;
	margin: 20px 0;
}
#mainContent table#itemLink tr.blank td {
	height: 10px;
}

#mainContent ul#itemLink {
	width: 100%;
	margin: 20px 0;
}
#mainContent ul#itemLink li {
	float: left;
	width: 95px;
	margin-right: 3px;
}
#mainContent ul#itemLink li img{
	width: 95px;
	margin: 2px 0;
}
#mainContent ul#itemLink li.select {
	border-bottom: 4px solid #33CCFF;
}
#mainContent ul#itemLink a {
	cursor:pointer;
}

/* 	ページ「チャート」 */
#mainContent.chart table {
	width:100%;
	margin-bottom: 24px;
}
#mainContent.chart table td{
	border: 1px solid #658ce8;
	padding: 4px 12px;	
}
#mainContent.chart td.image {
	width:110px;
	border-right:0;
	padding: 8px 12px 4px 30px;	
}
#mainContent.chart td.image img {
	float:left;
	width:110px;
	margin: 0 6px 6px;
}
#mainContent.chart td.btn {
	border-left: 0;
}
#mainContent.chart table a {
	cursor:pointer;
	color:#fff;
	background-color: #5073b8;
}
#mainContent.chart table a:hover {
	background-color: #658ce8;
}

#mainContent.chart td.blank {
	width:0px;
	border: 0;
}
#mainContent.chart tr.blank td {
	height:8px;
	border:0;
}
/* ページ「ヒストリカルデータ」 */
#mainContent.history a#caution {
	margin-left: 24px;
}
#mainContent.history table td{
	border: 0;
}
#mainContent.history div.unit_left ,
#mainContent.history div.unit_right {
	border: 1px solid #c2d0fd;
	padding: 0;
	margin-top: 15px;
	width:383px;
	float:left;
}
#mainContent.history div.unit_right {
	margin-left:15px;
}
#mainContent.history table td {
	padding: 4px 6px 0 30px;
}
#mainContent.history .unit#noBorder {
	border: 0;
	padding-top:15px;
}
#mainContent.history table input {
	background-color: #5073b8;
	color: #fff;
	padding: 3px 8px;
}
#mainContent.history table input:hover {
	cursor:pointer;
	background-color: #658ce8;
}
#mainContent.history table select {
	margin:4px 0 8px;
}
#mainContent.history table td.image img {
	margin-bottom:4px;
}

/* ページ「ヒストリカルデータの説明」 */
#mainContent.hisHelp .data-1 {
	width:45%;
}
#mainContent.hisHelp .data-2 {
	width:60%;
}

#mainContent.hisHelp .data-1 th ,
#mainContent.hisHelp .data-2 th {
	background-color: #5073b8;
	color:#fff;
}
#mainContent.hisHelp .data-1 tr.odd td ,
#mainContent.hisHelp .data-2 tr.odd td {
	background-color: #f0f3ff;
}

/* ページ「指数値」 */
#mainContent table#top {
	width:660px;
}
#mainContent table {
	margin: 10px 0;
	width: 100%;
}
#mainContent table td , #mainContent table th {
	border: 1px solid #809ada;
	padding: 4px 8px;
}
#mainContent table td.hyoCol1 {
	background-color: #E6EBFF;
}

#mainContent table.noBorder td ,#mainContent table.noBorder th {
	border: 0;
}
#mainContent.shisu #kaigai tr.odd td {
	background-color: #F0F3FF;
}
#mainContent.shisu #kaigai tr.hyoCol1 td {
	background-color: #5073b8;
	color:#fff;
}
#mainContent.shisu #kaigai .hyoCol2 td.hyoCol1 {
	background-color: #3c60ac;
	color:#fff;
}
#mainContent.shisu .noBorder {
	width: 480px;
	border: 1px solid #809ada;
	margin:4px 0;
}
#mainContent.shisu .noBorder th {
	background-color: #F0F3FF;
	color:#1e2b62;
}
#mainContent.shisu .noBorder input {
	background-color: #5073b8;
	color:#fff;
	padding: 4px 8px;
}
#mainContent.shisu .noBorder input:hover {
	background-color: #658ce8;
	cursor:pointer;
}
/* ページ「現物価格」 */
#mainContent.genkaku table.hyo tr.odd td {
	background-color: #F0F3FF;
}
#mainContent.genkaku table.hyo tr.hyoCol1 td {
	background-color: #5073b8;
	color:#fff;
}
#mainContent.genkaku tr.hyoCol2 td.hyoCol1 {
	background-color: #3c60ac;
	color:#fff;
}
#mainContent.genkaku a.zipDL {
	background-color: #5073b8;
	color:#fff;
	font-weight: normal;
	width:50%;
	display: block;
	padding:6px 12px;
	margin: 0 auto;
	text-align: center;
}
#mainContent.genkaku a.zipDL:hover {
	background-color: #658ce8;
}
#mainContent.genkaku table.hyo tr.hyoCol3 td {
	background-color: #5073b8;
	color:#fff;
}
#mainContent.genkaku table.hyo tr.hyoCol3 td.hyoCol1 {
	background-color: #3c60ac;
}

/* ページ「価格変動要因」 */
#mainContent.hendou ul#itemLink li {
	width: 110px;
	margin-right:1px; 
}
#mainContent.hendou ul#itemLink li img {
	width: 110px;
}
#mainContent.hendou .unit img {
	float:left;
	margin-right:24px;
}
#mainContent.hendou img.cause {
	margin: 24px auto;
	display:block;
}

/* ページ「取引商品関連データ」 */
#mainContent.date .item1 td {
	background-color: #5073b8;
	color: #fff;
	line-height: 16px;
	padding: 6px 12px;
}
#mainContent.date td.item2 {
	background-color: #E6EBFF;
}

/* ページ「海外市場商品情報」 */
table#abroad th {
	background-color: #E6EBFF;
	text-align:left;
}

/* ページ「個人情報保護」 */
#mainContent.privacy td.hyoCol2 {
	background-color: #5073b8;
	color: #fff;
	line-height: 16px;
	font-weight: bold;
	padding: 6px 12px;
}
	
