/* CSS Document yoko.css */

#mainContent table#scheduleIndex {
	width: 80%;
	margin: 12px auto;
}
#mainContent table#scheduleIndex th {
	text-align: left;
	font-weight: bold;
	padding: 10px 0 4px;
	color: #ff6000;
	border-bottom: 1px solid #809ada;
}
#mainContent table#scheduleIndex td {
	padding: 6px 4px 2px;
}
#mainContent table#scheduleIndex td a {
	padding: 3px 8px 2px;
	display:block;
	background-color: #E6EBFF;
	color: #5073b8;
	border: 1px solid #809ada;
}
#mainContent table#scheduleIndex td a#selected ,
#mainContent table#scheduleIndex td a#selected:hover {
	background-color: #5573b8;
	color:#fff;
	cursol:default;
}
#mainContent table#scheduleIndex td a:hover {
	background-color: #f0f3FF;
	color: #1e2b62;
}

#mainContent #yearMonth {
	margin: 12px auto;
	width: 80%;
	font-weight: bold;
}

#mainContent table#scheduleTable {
	margin: 12px auto;
	width: 80%;
}
#mainContent table#scheduleTable td{
	border: 1px solid #809ada;
	padding: 3px 10px;
	line-height:16px;
}
#mainContent table#scheduleTable .odd td {
	background-color: #f0f3FF;
}
#mainContent table#scheduleTable .hyoCol1 td {
	background-color: #5073b8;
	color: #fff;
	font-weight: bold;
	padding: 4px 12px;
}
#mainContent table#scheduleTable .hyoCol2 td {
	background-color: #5073b8;
}
#mainContent p#scheduleHoliday {
	color:#ff6000;
	padding:0 0 10px 90px;
}
#mainContent ul#itemLink {
	width: 100%;
	margin: 20px 0;
	clear: both;
	display: table;
}
#mainContent ul#itemLink li {
	float: left;
	width: 95px;
	margin-right: 3px;
}
#mainContent ul#itemLink li img{
	width: 95px;
	margin: 2px 0;
	-ms-interpolation-mode:bicubic;
}
#mainContent ul#itemLink.item7 li {
	width: 110px;
	margin-right: 1px;
}
#mainContent ul#itemLink.item7 li img{
	width: 110px;
}
#mainContent ul#itemLink li.select {
	border-bottom: 4px solid #33CCFF;
}
#mainContent ul#itemLink li a:hover {
	cursor:pointer;
}
#mainContent ul#itemLink li a:hover img {
	background-color: #fff;
	filter:alpha(opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

/* ページ「日程一覧表」 */
#mainContent table#genSchedule {
	margin: 12px auto;
}
#mainContent table#genSchedule td{
	border: 1px solid #809ada;
	padding: 5px 10px;
	line-height:16px;
	text-align: center;
}
#mainContent table#genSchedule .hyoCol1 td {
	background-color: #5073b8;
	color: #fff;
	font-weight: bold;
	padding: 6px 12px;
}
#mainContent table#genSchedule .hyoCol2 td {
	background-color: #e0e6ff;
}

/* ページ「立会時刻１」 */

#mainContent table#tachiai {
	width: 100%;
	margin: 12px 0 6px;
}
#mainContent table#tachiai th {
	border: 1px solid #809ada;
	background-color: #5073b8;
	color: #fff;
	font-weight: bold;
	padding: 6px 12px;
}

#mainContent table#tachiai td {
	border: 1px solid #809ada;
	padding: 4px 12px;
}
#mainContent table#tachiai tr.odd td {
	background-color: #f0f3FF;
}
#mainContent table#tachiai td.hyoCol3 {
	background-color: #E6fBFF;
}

/* ページ「立会時刻２」 */

#mainContent table#tachiai2 {
	width: 100%;
	margin: 12px 0 6px;
}
#mainContent table#tachiai2 th {
	border: 1px solid #809ada;
	background-color: #5073b8;
	color: #fff;
	font-weight: bold;
	padding: 6px 12px;
}

#mainContent table#tachiai2 td {
	border: 1px solid #809ada;
	padding: 4px 12px;
}

#mainContent table#tachiai2 td.hyoCol4 {
	background-color: #f0f3FF;
}

#mainContent table#tachiai2 td.hyoCol3 {
	background-color: #E6fBFF;
}

/* ページ「制限幅」 */
#mainContent div.nehaba {
	width:100%;
	clear: both;
	padding: 20px;
	display:table;
}
#mainContent div.nehaba .date {
	width:400px;
	text-align: right;
	padding: 0 0 8px 0;
}
#mainContent div.nehaba table {
	width: 400px;
}
#mainContent div.nehaba table th {
	border: 1px solid #809ada;
	background-color: #5073b8;
	color: #fff;
	font-weight: bold;
	padding: 6px 12px;
}
#mainContent div.nehaba table td {
	border: 1px solid #809ada;
	text-align: right;
	padding: 4px 12px;
}
#mainContent div.nehaba table td.hyoCol2 {
	background-color: #f0f3FF;
	text-align: left;
}
#mainContent div.nehaba p.info {
	width:700px;
	padding:12px 0 6px 12px;
}
#mainContent div.nehaba p.info span {
	line-height:26px;
}
#mainContent div.nehaba .notice {
	border: 1px solid #809ada;
	padding: 2px 12px;
	text-align: left;
	width:600px;
	margin-bottom:12px;
}

/* ページ「在庫発表」 */
#mainContent.zaiko #specify {
	width: 100%;
}
#mainContent.zaiko #specify td {
	border: 1px solid #809ada;
	padding: 4px 8px;
}
#mainContent.zaiko #specify tr.odd td {
	background-color: #f0f3FF;
}
#mainContent.zaiko #specify tr.hyoCol1 td{
	background-color: #5073b8;
	color: #fff;
	font-weight: bold;
}
#mainContent.zaiko #specify td.hyoCol2 ,#mainContent.zaiko #specify tr.odd td.hyoCol2 {
	background-color: #E6EBFF;
}
#mainContent.zaiko .indexPart ul {
	clear: both;
}
#mainContent.zaiko .indexPart ul li {
	line-height: 16px;
	padding-bottom: 6px;
}
#mainContent.zaiko .indexPart li.left{
	float: left;
	color: #ff6000;
}
#mainContent.zaiko .indexPart li.right{
	float: right;
	text-align: right;
}

#mainContent.zaiko .noBorder {
	width: 100%;
	margin: 12px 0 36px;
}
#mainContent.zaiko .noBorder th {
	text-align: left;
}
#mainContent.zaiko .noBorder td {
	padding-left: 30px;
}
#mainContent.zaiko #shrimp {
	width:270px;
	float: left;
}
#mainContent.zaiko #shrimp table {
	width: 100%;
}
#mainContent.zaiko #shrimp table th {
	background-color: #5073b8;
	color: #fff;
	font-weight: bold;
	border: 1px solid #809ada;
	padding: 4px 8px;
}
#mainContent.zaiko #shrimp table td {
	border: 1px solid #809ada;
	text-align: right;
	padding: 4px 8px;
}
#mainContent.zaiko #shrimp table tr.hyoCol2 td {
	background-color: #E6EBFF;
	text-align: center;
}
#mainContent.zaiko #graph {
	width: auto;
	float: right;
	margin-bottom: 12px;
}

/* ペーじ「受渡明細」 */
#mainContent.delivery table {
	width: 100%;
	margin: 6px 0 12px;
}
#mainContent.delivery table td {
	border: 1px solid #809ada;
	padding: 4px 8px;
	height: 16px;
}
#mainContent.delivery table td.hyoCol1 , table td.hyoCol1 div {
	background-color: #5073b8;
	color: #fff;
	font-weight: bold;
}
#mainContent.delivery table td.hyoCol2 , tr.hyoCol2 td {
	background-color: #E6EBFF;
}

/* ページ「取引要綱」 */
#mainContent.guideLine table {
	width: 100% ;
	clear: both;
	margin-bottom: 12px;
}
#mainContent.guideLine table td {
	border: 1px solid #809ada;
	padding: 4px 8px;
	line-height:16px;
}
#mainContent.guideLine table table td {
	border: 0;
}
#mainContent.guideLine table tr.odd td {
	background-color: #f0f3FF;
}
#mainContent.guideLine table tr td.hyo2 {
	background-color: #E6EBFF;
	width:128px;
}
#mainContent.guideLine table table tr.odd td{
	background-color: #fff;
}
#mainContent.guideLine table tr.odd table td{
	background-color: #f0f3FF;
}
#mainContent.guideLine table table.corn75_TinT {
	margin-bottom:0;
}
#mainContent.guideLine table table.corn75_TinT th {
	text-align:left;
}
#mainContent.guideLine table table.corn75_TinT td {
	padding:2px 4px;
	text-align:left;
	float:left;
}
#mainContent.guideLine table table.corn75_TinT td.left {
	width:200px;
	padding:2px 0 0 16px;
}
	
/* ページ「指数算出方法」 */
#mainContent.calc #itemLink {
	height: 20px;
	width:726px;
}
#mainContent.calc #itemLink li {
	margin: 12px 0;
	display: block;
	width:240px;
	margin-right:2px;	
}
#mainContent.calc #itemLink a {
	line-height:16px;
	padding: 8px 12px;
	background-color: #E6EBFF;
    border: 1px solid #809ADA;
	display: block;
	font-size:14px;
	font-weight:bold;
}
#mainContent.calc #itemLink a span {
	color: #fff;
	font-weight:bold;
	margin-right: 8px;
	display: table;
	float: left;
}
#mainContent.calc #itemLink a:hover {
	background-color: #f0f3ff;
}

#mainContent.calc {
	line-height: 16px;
}
#mainContent.calc div.note {
	width:90%;
	margin: 20px auto 10px;
	padding: 10px;
	clear: both;
	border: 1px solid #5073b8;
}
#mainContent.calc div.idnt {
	padding-left: 12px;
}
#mainContent.calc table {
	margin: 10px 0 0 10px;
}
#mainContent.calc table th {
	background-color: #E6EBFF;
    border: 1px solid #809ADA;
	padding: 4px 8px;
}
#mainContent.calc table td {
    border: 1px solid #809ADA;
	padding: 4px 8px;
	background-color: #fff;	
}
#mainContent.calc div#ex {
	background-color: #f0f3ff;
	padding:12px 18px;
	margin:12px 0;
}
#mainContent.calc div.idnt table.idnt td {
	background-color: #f0f3ff;
	border:0;
}